@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

html,
body {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}

.hoverItem {
  cursor: pointer;
}
